.app_light_theme {
    --bg-color: #e9e9ff;
    --inverted-bg-color: #181830;
    --primary-color: #010636;
    --secondary-color: #140049;
    --inverted-primary-color: #e6e2f3;
    --inverted-secondary-color: #d8d1e0;
}
